body {
    background-color: gray;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

#calculator {
    text-align: center;
}

button {
    background-color: orange;
    color: white;
}

ul {
    color: white;
    list-style: none;
}