body {
    background-image: url('math-curriculum.jpeg');
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
}

.two {
    background-color: gray;
    min-height: 100vh;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

#calculator {
    text-align: center;
}

button {
    background-color: orange;
    color: white;
}

ul {
    color: white;
    list-style: none;
}